@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
    /* primary colors */
    --bgmain: hsl(233, 47%, 7%);
    --bgcard: hsl(244, 38%, 16%);
    --acent: hsl(277, 64%, 61%);

    /* neutral colors */
    --white: hsl(0, 0%, 100%);
    --trans-white: hsla(0, 0%, 100%, 0.75); /* (main paragraph) */
    --slight-trans-white: hsla(0, 0%, 100%, 0.6); /* (stat heading) */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    background-color: var(--bgmain);
    min-height: 100vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1.5;
    margin: 0 auto;
}

.card {
    background-color: var(--bgcard);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5.6rem;
    width: 60rem;
}
.card .card-info {
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    flex-direction: column;
    justify-content: space-around;
}

.card .image {
   width: 100%;
   position: relative;
   
}
.card img {
    display: block;
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-blend-mode: multiply;
}
.card .image:after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(136, 31, 201, 0.5);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1 {
    color: var(--white);
    font-family: inter;
    font-size: 1.97rem;
    font-weight: 700;

}
.card .accent {
    color: var(--acent);
}
.card .card-info .description {
    color: var(--trans-white);
    font-family: inter;
    padding-top: 1rem;
    font-weight: 400;
    max-width: 350px;
}
.card .stats {
    display: flex;
    justify-content: space-between;
    margin-top: 4.5rem;
}
.card .stats > p {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.card .figures {
    color: var(--white);
    font-weight: 700;
    font-family: inter;
    font-size: 24px;
}
.card .stats > p {
    color: var(--slight-trans-white);
    font-size: 15px;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    color: var(--white);
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}


/* small to large mobile devices */
@media screen and (max-width: 599px) {
    .card {
        max-width: 350px;
        flex-direction: column-reverse;
        gap: 1rem;
        padding-bottom: 20px;
    }
    .card img {
        border-bottom-right-radius: 0;
        border-top-left-radius: 10px;
    }
    .card .image:after {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0;
    }
    h1 {
        font-size: 1.7rem;
        text-align: center;
        margin: 0 auto;
        max-width: 260px;
    }
    .card .card-info .description {
        text-align: center;
        max-width: 260px;
        margin: 0 auto;
    }
    
    .card .card-info {
        padding: 1rem;
    }
    .card .stats {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 2.5rem;
        gap: 20px;
    }
    .card .stats .figures {
        text-align: center;
    }
}   

/* TABLETS */
@media screen and (min-width: 600px) and (max-width: 1000px) {
    .card {
        max-width: 550px;
        flex-direction: column-reverse;
        gap: 1rem;
    }
    .card img {
        border-bottom-right-radius: 0;
        border-top-left-radius: 10px;
    }
    .card .image:after {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0;
    }    
    .card .card-info {
        margin: 0 auto;
        padding-top: 1rem;
        padding-right: 48px;
    }
    .card .card-info .details, .description {
        text-align: center;
        margin: 0 auto;
    }
    .card .stats {
        margin: 2rem auto 0;
        justify-content: space-evenly;
    }
}
