@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
    /* primary colors */
    --bgmain: hsl(233, 47%, 7%);
    --bgcard: hsl(244, 38%, 16%);
    --acent: hsl(277, 64%, 61%);

    /* neutral colors */
    --white: hsl(0, 0%, 100%);
    --trans-white: hsla(0, 0%, 100%, 0.75); /* (main paragraph) */
    --slight-trans-white: hsla(0, 0%, 100%, 0.6); /* (stat heading) */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

a:hover {
    cursor: pointer;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    background-color: var(--bgmain);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1.5;
    position: relative;
}

.card {
    background-color: var(--bgcard);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2.6rem;
    width: 60rem;
    
}
.card-info {
    padding: 4rem 3rem 2rem;
    flex-direction: column;
}

.card .image {
    width: 100%;
    background-color: rgba(128, 71, 163, 0.849);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.card img {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
    opacity: 82%;
}


h1 {
    color: var(--white);
    font-family: inter;
    font-size: 1.9rem;
    font-weight: 700;

}
.accent {
    color: var(--acent);
}

.card-info .description {
    color: var(--trans-white);
    font-family: inter;
    padding-top: 1rem;
    font-weight: 400;
    max-width: 350px;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-top: 4.5rem;
}
.stats  p {
    color: var(--slight-trans-white);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.figures {
    color: var(--white);
    font-weight: 700;
    font-family: inter;
    font-size: 24px;
    text-align: center;
}


/* ========== MOBILE DEVICES ============ */
@media screen and (max-width: 599px) {
    .card {
        max-width: 350px;
        flex-direction: column-reverse;
        gap: 1rem;
        padding-bottom: 20px;
    }
    
    .card img {
        border-bottom-right-radius: 0;
    }
    
    .card .image {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0;
    }
    .card-info {
        padding: 1rem;
    }
    h1 {
        font-size: 1.7rem;
        text-align: center;
        margin: 0 auto;
        max-width: 260px;
    }
    .card-info .description {
        text-align: center;
        max-width: 260px;
        margin: 0 auto;
    }
    
    .stats {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 2.5rem;
        gap: 20px;
    }
}   

/* ========== TABLETS ========= */
@media screen and (min-width: 600px) and (max-width: 1000px) {
    .card {
        max-width: 550px;
        flex-direction: column-reverse;
        gap: 1rem;
    }
    .card img {
        border-bottom-right-radius: 0;
    } 
    .card .image {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0;
    }  
    .card-info {
        margin: 0 auto;
        padding: 1rem 3rem 2rem;
    }
    .card-info .details, .description {
        text-align: center;
        margin: 0 auto;
    }
    .stats {
        margin: 2rem auto 0;
        justify-content: space-evenly;
    }
}
